.text-center{
text-align: center;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.table{
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.color_table{
margin: 0 auto;
}

.image_upload_form{
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}